<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :num %><br />
    <%= f.text_field :num %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :shortd %><br />
    <%= f.text_area :shortd %>
  </div>
  <div class="field">
    <%= f.label :extra %><br />
    <%= f.text_area :extra %>
  </div>
   <div class="field">
    <%= f.label :unlocked %><br />
    <%= f.check_box :unlocked %>
  </div>

  <div class="field">
    <%= f.label :fun_url %><br />
    <%= f.text_field :fun_url %>
  </div>
  <div class="field">
    <%= f.label :science_url %><br />
    <%= f.text_field :science_url %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
