<h1>Listing levels</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Extra</th>
    <th>Fun url</th>
    <th>Science url</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @levels.each do |level| %>
  <tr>
    <td><%= level.title %></td>
    <td><%= level.description %></td>
    <td><%= level.extra %></td>
    <td><%= level.fun_url %></td>
    <td><%= level.science_url %></td>
    <td><%= level.image_url %></td>
    <td><%= link_to 'Show', level %></td>
    <td><%= link_to 'Edit', edit_level_path(level) %></td>
    <td><%= link_to 'Destroy', level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Level', new_level_path %>
