<p id="notice"><%= notice %></p>
<div class="level_intro span11">
  <h2 class="level_start">
    <%= @level.title %>
  </h2>

  <p>
    <%= @level.description.html_safe %>
  </p>

  <div class="level_puzzles span12">
    <h3>Challenges:</h3>

    
      <% for p in @level.puzzles %>
      <div class="span3">
        <h4><%= p.title %> </h4>
        <p><%= p.ex2 %> </p>
        <hr>
        <%= link_to "Challenge Accepted!", puzzles_play_path(p), :class => 'btn btn-small' %>
      </div>
      <% end %>
  </div>
  <hr>
<div class="span12 paddingt50">

<div class="span4">
    <%= @level.image_url.html_safe %>
</div>
<div class="span7">  
  <p>
    <%= @level.extra %>
  </p></div>

<div class="span12">
  <p>
    <%= @level.fun_url %>
  </p>
  <p>
    <%= @level.science_url %>
  </p>
</div>

</div>


</div>
