<%= form_for(@puzzle) do |f| %>
  <% if @puzzle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@puzzle.errors.count, "error") %> prohibited this puzzle from being saved:</h2>

      <ul>
      <% @puzzle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :unlocked %><br />
    <%= f.check_box :unlocked %>
  </div>
  <div class="field">
    <%= f.label :ex %><br />
    <%= f.text_area :ex %>
  </div>
  <div class="field">
    <%= f.label :ex2 %><br />
    <%= f.text_area :ex2 %>
  </div>
  <div class="field">
    <%= f.label :level_id %><br />
    <%= f.number_field :level_id %>
  </div>
  <div class="field">
    <%= f.label :reward_id %><br />
    <%= f.number_field :reward_id %>
  </div>
  <div class="field">
    <%= f.label :i %><br />
    <%= f.text_area :i %>
  </div>
  <div class="field">
    <%= f.label :i2 %><br />
    <%= f.text_area :i2 %>
  </div>
  <div class="field">
    <%= f.label :video %><br />
    <%= f.text_area :video %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
