<div class="span11 puzzle_wrapper">
<div class="span6">
<% if not @answ %>
<%= image_tag "wrong.jpg" %>
<% end %>
</div>
<div class="span6">
	<%= @puresult %>
</div>
<% if @answ %>

<div class="span12">
	 <p>
      <%= @puzzle.ex.html_safe %>
    </p>
    <p>
      <b>Video:</b>
      <%= @puzzle.video %>
    </p>
</div>
	
<% else %>
<div class="span12 paddingt50">
 <%= form_tag("/puzzles/#{@puzzle.id}/answ", :method => "post", :class => 'form-inline') do %>
    <%= label_tag(:answ, "Answer:") %>
    <%= text_field_tag(:answ) %>
    <%= submit_tag("Submit", :class => 'btn') %>
    <% end %>
</div>
<% end %>
</div>
