<div class="span11 puzzle_wrapper">
<div class="span12">
<% if not @answ %>
<%= image_tag "wrong.jpg" %>
<h5><%= @puresult %></h5>

<% else %>
<h5><%= @puresult %></h5>
<% end %>
	
</div>
<% if @answ %>

<div class="puzzle_ex">
	 <p>
      <%= @puzzle.ex.html_safe %>
    </p>
    <p>
</div>
	
<% else %>
<div class="span12 paddingt50">
 <%= form_tag("/puzzles/#{@puzzle.id}/answ", :method => "post", :class => 'form-inline') do %>
    <%= label_tag(:answ, "Answer:") %>
    <%= text_field_tag(:answ) %>
    <%= submit_tag("Submit", :class => 'btn') %>
    <% end %>
</div>
<% end %>
</div>
