<p id="notice"><%= notice %></p>
<div class="span11">
  <div class="puzzle_wrapper">
    <h3>
      <%= @puzzle.title %>
    </h3>
    <div class="puzzle_question">
    <p>
      <%= @puzzle.question.html_safe %>
    </p>
    </div>

    <%= form_tag("/puzzles/#{@puzzle.id}/answ", :method => "post", :class => 'form-inline') do %>
    <%= label_tag(:answ, "Answer:") %>
    <%= text_field_tag(:answ) %>
    <%= submit_tag("Submit", :class => 'btn') %>
    <% end %>
  </div>
</div>

